.progress-bar-container {
  width: 100vw;
  min-height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8.5%;
  z-index: 8;
  transition: opacity 0.5s ease-out;
}

.progress-bar {
  position: absolute;
  width: 88%;
  height: 10px;
  background: linear-gradient(90deg, #202A35 0%, #2A3E55 100%);
  border-radius: 119px;
  overflow: hidden;
}

.progress-bar-fill {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #C8C3A4 0%, #C0FFE5 100%);
  border-radius: 119px;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-out;
  will-change: width;
}

.progress-percentage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.9%;
  font-size: 16px;
  color: #C1F9DE;
  font-family: Onest;
  z-index: 8;
  width: auto;
  text-align: center;
  transition: opacity 0.5s ease-out;
}
